@model WebAppSystems.Models.Mensalista

@{
    ViewData["Title"] = "Delete";
}

<h1>Exclusão</h1>

<h3>Você tem certeza?</h3>
<div class="card">
    <div class="card-body">
        <form asp-action="Delete">

            <h4>Mensalista</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Cliente
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Client.Name)
                </dd>
                <dt class="col-sm-2">
                    Valor Mensal Bruto
                </dt>
                <dd class="col-sm-10">
                    @String.Format(new System.Globalization.CultureInfo("pt-BR"), "{0:N2}", Model.ValorMensalBruto)
                </dd>
                <dt class="col-sm-2">
                    Comissao Parceiro
                </dt>
                <dd class="col-sm-10">
                    @String.Format(new System.Globalization.CultureInfo("pt-BR"), "{0:N2}", Model.ComissaoParceiro)
                </dd>
                <dt class="col-sm-2">
                    Comissão Sócio
                </dt>
                <dd class="col-sm-10">
                    @String.Format(new System.Globalization.CultureInfo("pt-BR"), "{0:N2}", Model.ComissaoSocio)
                </dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </form>
        </form>
    </div>
</div>