@model WebAppSystems.Models.ValorCliente

@{
    ViewData["Title"] = "Create";
}

<h4>Cadastro de Valores por Cliente e Advogado/Sócio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label">Cliente</label>
                <select asp-for="ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AttorneyId" class="control-label">Advogado/Sócio</label>
                <select asp-for="AttorneyId" class ="form-control" asp-items="ViewBag.AttorneyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label">Valor</label>
                @Html.TextBoxFor(model => model.Valor, new { @class = "form-control", data_val = "false" })
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
