@using WebAppSystems.Models.Enums;
@using WebAppSystems.Models.ViewModels;
@model AttorneyFormViewModel    
@{
    ViewData["Title"] = "Criação";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Cadastro de Usuários</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Attorney.Name" class="control-label">Nome</label>
                    <input asp-for="Attorney.Name" class="form-control"></input>
                    <span asp-validation-for="Attorney.Name" class="text-danger"></span>
                </div>               
                <div class="form-group">
                    <label asp-for="Attorney.Email" class="control-label">Email</label>
                    <input asp-for="Attorney.Email" class="form-control"></input>
                    <span asp-validation-for="Attorney.Email" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="Attorney.BirthDate" class="control-label">Data Nascimento</label>
                    <input asp-for="Attorney.BirthDate" class="form-control"></input>
                    <span asp-validation-for="Attorney.BirthDate" class="text-danger"></span>
                <div/>
                <div>
                    <label asp-for="Attorney.Phone" class="control-label">Telefone</label>
                    <input asp-for="Attorney.Phone" class="form-control"></input>
                    <span asp-validation-for="Attorney.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Attorney.DepartmentId" class="control-label">Área</label>
                     <select asp-for="Attorney.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>
                </div  
                <div class="form-group">
                    <label asp-for="Attorney.Login" class="control-label">Login</label>
                    <input asp-for="Attorney.Login" class="form-control"></input>
                    <span asp-validation-for="Attorney.Login" class="text-danger"></span>
                </div> 
                <div class="mb-3">
                <label for="fone">Perfil</label>
                    <select asp-for="Attorney.Perfil" class="form-control">
                    <option value="">Selecione</option>
                    <option value="@ProfileEnum.Admin">Administrador</option>
                    <option value="@ProfileEnum.Padrao">Padrão</option>
                    <option value="@ProfileEnum.Controladoria">Controladoria</option>
                    </select>        
                </div>
                <div class="mb-3">
                <label for="fone">Senha</label>
                    <input type="password" asp-for="Attorney.Password" class="form-control" placeholder="Digite a senha do usuário">        
                </div>   
                <div class="form-check">
                    <input type="checkbox" asp-for="Attorney.UseBorder" class="form-check-input"/> 
                    <label asp-for="Attorney.UseBorder" class="form-check-label">Utiliza borda</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" asp-for="Attorney.UseCronometroAlwaysOnTop" class="form-check-input"/> 
                    <label asp-for="Attorney.UseCronometroAlwaysOnTop" class="form-check-label">Utiliza Cronômetro Always on top </label>
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


